@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: "Love Ya Like A Sister";
}

body {
  background: url("./assets/bgmobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  box-sizing: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mainn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  background-color: rgba(163, 236, 241, 0.5);
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 20px 0 15px;
  border-radius: 5px;
  font-size: 2.7em;
}
/* ESTILIZAÇÃO DOS CARDS */

main {
  padding: 20px 20px 50px;
  grid-template-columns: repeat(2, 2fr);
  display: grid;
  gap: 20px;
  width: 100%;
  margin: 0px auto;
}

.card {
  aspect-ratio: 3/4;
  width: 250px;
  background-color: #f53098;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: #f53098 2px solid;
  border-radius: 5px;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url("./assets/card0.png");
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

